






<div class="jumbotron">
  <h1 class="display-4"><%= @staff.first_name %>
     <%= @staff.last_name %> 
      </h1>
     <h3><%= @staff.gender %> |
     <%= @staff.salary %>
   </h3>
  <p class="lead">Discription</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <%= link_to 'Edit', edit_staff_path(@staff), class:"btn btn-outline-secondary" %> 
    <%= link_to 'Back', staffs_path,class:"btn btn-outline-secondary" %>
    <%= link_to 'Delete', staffs_path,class:"btn btn-outline-secondary" %>
  </p>
</div>

